<progress-bar value="50" label="Step 2"></progress-bar>

<div class="form-group">
  <label for="birthday">Birthday</label>
  <p class="input-group">
    <input type="text" class="form-control" uib-datepicker-popup ng-model="vm.registration.personal.birthday" is-open="step2.status.opened" name="birthday" min-date="step2.minDate" max-date="step2.maxDate" datepicker-options="step2.dateOptions" close-text="Close">
    <span class="input-group-btn">
      <button type="button" class="btn btn-default" ng-click="step2.openCalendar($event)"><i class="glyphicon glyphicon-calendar"></i></button>
    </span>
  </p>
  <div class="help-block">
    Format: YYYY-MM-DD
  </div>
</div>

<div class="form-group">
  <label>Gender</label>
  <div class="radio">
    <label>
      <input ng-model="vm.registration.personal.gender" type="radio" name="personal.gender" value="female">
      Female
    </label>
  </div>
  <div class="radio">
    <label>
      <input ng-model="vm.registration.personal.gender" type="radio" name="personal.gender" value="male">
      Male
    </label>
  </div>
  <div class="radio">
    <label>
      <input ng-model="vm.registration.personal.gender" type="radio" name="personal.gender" value="transgender">
      Transgender
    </label>
  </div>
</div>

<div class="form-group">
  <label for="favoriteDish">Favorite dish</label>
  <input ng-model="vm.registration.personal.favoriteDish" type="text" name="favoriteDish" class="form-control" placeholder="Favorite dish">
</div>

<nav>
  <ul class="pager">
    <li class="previous"><a ui-sref="register.step1"><span aria-hidden="true">&larr;</span> Previous</a></li>
    <li class="next"><a ui-sref="register.step3">Next <span aria-hidden="true">&rarr;</span></a></li>
  </ul>
</nav>
